body{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 4, 235);
    padding-bottom: 70%;
}
.container-imges{
   position: absolute;
    top: 50%;
    left: 0%;
    width: 795px;
    height: 160px;
    background-color: #3882f6;
    padding-bottom: 10%;
    padding-left: 21%;
    padding-right: 17%;
}
img{
   height: 100px;
   width: 100px;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: row;
   border-radius: 3%;
   border: 5px solid black;
   }
button{
    height: fit-content;
    width: 100px;
    border-radius: 0.5em;
    padding: 6px;
    background-color: #3882f6;
    color: #F9FAF8;
    box-shadow: none;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; 
    left: 50%;
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
}
.hero_img{
    height: 250px;
    width: 250px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    right: 1%;
    top: 10%;
}
.text{
    width: 1000px; 
}
.bottom-text{
    position: absolute;
    bottom: -30%;
    width: 900px;
    font-size: x-large;
}
.bottom-image{
    position: absolute;
    bottom: -32%;
    right: 3%;
    height: 240px;
    width: 240px;
}
.deep-txt{
    position: absolute;
    bottom: -52%;
    right: 2%;
    width: 900px;
    font-size: x-large;
}
.deep-img{
    position: absolute;
    bottom: -67%;
    height: 240px;
    width: 240px;
}
.deep-btn{
    font-size: x-large;
    position: absolute;
    height: 50px;
   right: 30%; 
   bottom: -60%;
   width: 500px;
    }
   